body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}


/* Main Heading */
h1 {
    color: #00ff99;
    font-size: 35px;
}


/* Normal Text */
p {
    color: #cccccc;
    font-size: 18px;
}


/* Cards */
.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


/* Date Time */
#datetime {
    font-size: 20px;
    margin: 15px;
    color: #38bdf8;
}


/* Buttons */
button {
    background: #00ff99;
    color: black;
    border: none;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background: white;
    color: #0d1117;
    transition: 0.3s;
}


/* Chat Box */
#chatbox {
    background: #0f172a;
    padding: 15px;
    border-radius: 10px;
    min-height: 80px;
    margin-bottom: 15px;
    text-align: left;
}


/* Input Box */
input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}


/* Mobile Design */
@media (max-width: 600px) {

    h1 {
        font-size: 26px;
    }

    .card {
        width: 90%;
    }

    button {
        width: 90%;
    }

    input {
        width: 90%;
    }

    ul {
        text-align: left;
        padding: 20px;
    }

}
